* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: auto;
    background-color: rgb(245, 245, 235);
}

header {
    text-align: center;
    color: brown;
    padding-top: 30px;
    font-family: Oswald;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.main {
    width: 100%;
    height: auto;
}
.container-info {
    width: 100%;
    height: auto;
    padding: 30px;
}

.container-info h3 {
    font-family: Oswald;
    font-size: 20px;
    color: brown;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 30px;
}

.container-info p {
    font-family: Mukta;
    
}




input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}